[submodule "BlueMarin.Android"]
	path = BlueMarin.Android
	url = git@bitbucket.org:benoitjadinon/bluemarin.android.git
[submodule "BlueMarin"]
	path = BlueMarin
	url = git@bitbucket.org:benoitjadinon/bluemarin.git
